<camp-auth>
	<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login__form">

		<!-- Email field -->
		<mat-form-field subscriptSizing="dynamic" appearance="outline" class="login__input-field">
			<mat-label>Email</mat-label>
			<input matInput formControlName="email" type="email" >
			<mat-error>
				<span>{{formErrorService.getFieldError(loginForm, 'email')}}</span>
			</mat-error>
		</mat-form-field>

		<!-- Password field -->
		<mat-form-field subscriptSizing="dynamic" appearance="outline" class="login__input-field">
			<mat-label>Password</mat-label>
			<input matInput formControlName="password" [type]="(hidePassword$ | async) ? 'password' : 'text'">
			<button
				mat-icon-button
				matSuffix
				(click)="clickHidePassword($event)"
				type="button"
				[attr.aria-label]="'Hide password'"
				[attr.aria-pressed]="hidePassword$ | async"
			>
				<mat-icon>{{(hidePassword$ | async) ? 'visibility_off' : 'visibility'}}</mat-icon>
			</button>
			<mat-error>
				<span>{{formErrorService.getFieldError(loginForm, 'password')}}</span>
			</mat-error>
		</mat-form-field>

		<!-- Submit button -->
		<div class="login__actions">
			<button mat-stroked-button type="submit" [disabled]="loginForm.invalid">Login</button>
		</div>
	</form>
</camp-auth>
