<mat-form-field subscriptSizing="dynamic" appearance="outline" class="login__input-field">
	<mat-label>Password</mat-label>
	<input
		matInput
		[formControl]="passwordControl"
		[type]="hidePassword() ? 'password' : 'text'"
		[errorStateMatcher]="confirmValidParentMatcher"
	>
	<button
		mat-icon-button
		matSuffix
		(click)="clickHidePassword($event)"
		type="button"
		[attr.aria-label]="'Hide password'"
		[attr.aria-pressed]="hidePassword()"
	>
		<mat-icon>{{hidePassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
	</button>
	<mat-error>
		<span>{{formErrorService.getErrors(passwordControl)}}</span>
	</mat-error>
</mat-form-field>
