@import url("../global/index.css");

/* Catalog of categories and books inside */
.catalog {
  display: flex;
  gap: var(--space-6);

  .catalog__content {
    display: flex;
    flex-direction: column;
    gap: var(--space-10);
  }
}

/* Books section, categorized by year */
.books-category {
  display: flex;
  flex-direction: column;
  gap: var(--space-6);

  /* Books list inside fo category */

  & > ul {
    --grid-columns: 2;

    display: grid;
    grid-template-columns: repeat(var(--grid-columns), minmax(0, 180px));
    gap: var(--space-4);
  }
}

@media (width >= 786px) {
  .books-category > ul {
    --grid-columns: 4;
  }
}

@media (width >= 1280px) {
  .books-category > ul {
    --grid-columns: 5;
  }
}
