@if ((animeList$ | async); as animeList) {
	<table mat-table [dataSource]="animeList" [trackBy]="trackByAnimeId">
		<!-- Image Column -->
		<ng-container matColumnDef="image">
			<th mat-header-cell *matHeaderCellDef> Image </th>
			<td mat-cell *matCellDef="let element">
				@if (element.imageSrc){
					<img [src]="element.imageSrc" class="anime-image" alt="{{element.titleEnglish}}" >
				} @else {
					<p>No image</p>
				}
			</td>
		</ng-container>
		<!-- English Title Column -->
		<ng-container matColumnDef="titleEnglish">
			<th mat-header-cell *matHeaderCellDef> English Title </th>
			<td mat-cell *matCellDef="let element"> {{element.titleEnglish | empty}} </td>
		</ng-container>

		<!-- Japanese Title Column -->
		<ng-container matColumnDef="titleJapanese">
			<th mat-header-cell *matHeaderCellDef> Japanese Title </th>
			<td mat-cell *matCellDef="let element"> {{element.titleJapanese | empty}} </td>
		</ng-container>

		<!-- Aired Start Column -->
		<ng-container matColumnDef="airedStart">
			<th mat-header-cell *matHeaderCellDef> Aired Start </th>
			<td mat-cell *matCellDef="let element"> {{(element.airedStart | date: 'longDate') | empty}} </td>
		</ng-container>

		<!-- Type Column -->
		<ng-container matColumnDef="type">
			<th mat-header-cell *matHeaderCellDef> Type </th>
			<td mat-cell *matCellDef="let element"> {{element.type}} </td>
		</ng-container>

		<!-- Status Column -->
		<ng-container matColumnDef="status">
			<th mat-header-cell *matHeaderCellDef> Status </th>
			<td mat-cell *matCellDef="let element"> {{element.status}} </td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
} @else {
	<camp-basic-progress-spinner></camp-basic-progress-spinner>
}
