<!-- TODO make loader here instead of table -->
<!-- @if (isLoading){
	<camp-basic-progress-spinner paddingBlock="50px"></camp-basic-progress-spinner>
} @else { -->
<form (ngSubmit)="onSearch()">
	<mat-form-field appearance="fill">
	<input
	  matInput
	  type="text"
	  [(ngModel)]="searchValue"
	  placeholder="Search anime"
	  name="search"
	/>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Search</button>
</form>
<mat-form-field>
	<mat-select
		[(ngModel)]="selectedTypes"
		(selectionChange)="onFilter($event)"
		placeholder="Type of an anime"
		multiple
	>
	  <mat-option *ngFor="let type of animeTypes" [value]="type">
		{{ type }}
	  </mat-option>
	</mat-select>
  </mat-form-field>
<camp-anime-table [animeList]="animeList$ | async"></camp-anime-table>
<mat-paginator
	[length]="animeTotal"
	[pageSize]="pageSize$ | async"
	[showFirstLastButtons]="true"
	[pageSizeOptions]="[5, 10, 15]"
	[pageIndex]="currentPage$ | async"
	(page)="handlePageEvent($event)"
>
</mat-paginator>


