<section class="dashboard">
	@if (animeList$ | async; as animeList) {
		<div class="dashboard__filters">
			<mat-form-field appearance="outline" subscriptSizing="dynamic">
				<mat-select
					(selectionChange)="onFilter($event)"
					placeholder="Type of an anime"
					[formControl]="selectControl"
					multiple
				>
					@for (type of animeTypes; track type){
						<mat-option [value]="type">
							{{ type }}
						</mat-option>
					}
				</mat-select>
			</mat-form-field>
			<form class="search-form" (ngSubmit)="onSearch()">
				<mat-form-field appearance="outline" subscriptSizing="dynamic">
					<input
						matInput
						type="text"
						placeholder="Search an anime"
						name="search"
						[formControl]="searchControl"
					/>
				</mat-form-field>
				<button mat-stroked-button type="submit">Search</button>
			</form>
		</div>

		<camp-anime-table class="anime-table" [animeList]="animeList.results" />
		<mat-paginator
			class="pagination"
			[length]="animeTotal$ | async"
			[pageSize]="pageSize$ | async"
			[showFirstLastButtons]="true"
			[pageSizeOptions]="[5, 10, 15]"
			[pageIndex]="currentPage$ | async"
			(page)="handlePageEvent($event)"
			[disabled]="animeList.results.length === 0"
		/>
	} @else {
		<camp-basic-progress-spinner></camp-basic-progress-spinner>
	}
</section>
