<section class="dashboard">
	@if (isLoading$ | async){
		<camp-basic-progress-spinner></camp-basic-progress-spinner>
	} @else {
		<div class="dashboard__filters">
			<mat-form-field appearance="outline" subscriptSizing="dynamic">
				<mat-select
					[(ngModel)]="selectedTypes"
					(selectionChange)="onFilter($event)"
					placeholder="Type of an anime"
					multiple
				>
					<mat-option *ngFor="let type of animeTypes" [value]="type">
						{{ type }}
					</mat-option>
				</mat-select>
			</mat-form-field>
				<form class="search-form" (ngSubmit)="onSearch()">
					<mat-form-field appearance="outline" subscriptSizing="dynamic">
						<input
						matInput
						type="text"
						[(ngModel)]="searchValue$"
						placeholder="Search an anime"
						name="search"
						/>
					</mat-form-field>
					<button mat-stroked-button type="submit">Search</button>
				</form>
		</div>
	}

	<camp-anime-table class="anime-table" [animeList]="animeList$ | async" />

	<mat-paginator
		class="pagination"
		[length]="animeTotal$ | async"
		[pageSize]="pageSize$ | async"
		[showFirstLastButtons]="true"
		[pageSizeOptions]="[5, 10, 15]"
		[pageIndex]="currentPage$ | async"
		(page)="handlePageEvent($event)"
		[disabled]="isLoading$ | async"
	/>
</section>
