.books-app-header {
  --content-spacing-md: 20px;

  padding-block: var(--content-spacing-md);
}

/* Utility classes */

.text-subtitle {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-lg);
  text-transform: uppercase;
}

.text-body {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-xl);
  text-transform: none;
}

.text-body-sm {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-lg);
  text-transform: none;
}

.text-logo {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-lg);
  text-transform: none;
}

/* Layouts */

.default-layout {
  --default-layout-width: 1244px;

  min-height: 100vh;

  /* fallback for old browsers */
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: min(var(--default-layout-width), 100% - calc(var(--content-spacing-md) * 2));
  margin-inline: auto;
}
