/* Header and footer styles */

.books-header {
  padding-block: var(--space-5);
  border-bottom: 1px solid var(--color-border);
}

.books-footer {
  display: flex;
  justify-content: space-between;
  margin-top: var(--space-6);
  padding: var(--space-6) 0;
  height: var(--footer-height);
  border-top: 1px solid var(--color-border);
  row-gap: var(--space-10);
}

@media screen and (max-width: 360px) {
  .books-footer {
    flex-direction: column;
  }
}

.footer-link {
  color: var(--color-on-surface);
}

.books-footer__info {
  display: flex;
  gap: var(--space-8);
}

.books-footer__additional {
  display: flex;
  place-items: center;
  gap: var(--space-2);
}

.books-footer__button {
  border: none;
  cursor: pointer;
  overflow: visible;
  background: transparent;
}

@media screen and (max-width: 360px) {
  .books-footer__button-wrapper {
    display: flex;
    justify-content: end;
  }
}

/* Book card component */

.book-card {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.book-card__img {
  border-radius: var(--border-radius-md);
  min-height: 250px;
}

.book-card__paragraph {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Layouts */

.default-layout {
  --default-layout-width: 1244px;

  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--color-surface);

  /* Making margin for mobile devices */
  width: min(var(--default-layout-width), 100% - calc(var(--space-6) * 2));
  margin-inline: auto;
}
