/* Header and footer styles */

.books-header {
  padding-block: var(--space-5);
  border-bottom: 1px solid var(--color-border);
}

.books-footer {
  display: flex;
  justify-content: space-between;
  margin-top: var(--space-6);
  padding: var(--space-6) 0;
  height: var(--footer-height);
  border-top: 1px solid var(--color-border);

  .footer-link {
    color: var(--color-on-surface);
  }

  .books-footer__info {
    display: flex;
    gap: var(--space-8);
  }

  .books-footer__additional {
    display: flex;
    place-items: center;
    gap: var(--space-2);
  }

  .books-footer__button {
    border: none;
    cursor: pointer;
    overflow: visible;
    background: transparent;
  }
}

/* Book card component */

.book-card {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);

  .book-card__img {
    border-radius: var(--border-radius-md);
    object-fit: cover;
    min-height: 250px;
  }
}

/* Utility classes */

/* Text utlity */

.text-subtitle {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-lg);
  text-transform: uppercase;
}

.text-body {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-xl);
  text-transform: none;
}

.text-body-sm {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-lg);
  text-transform: none;
}

.text-logo {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-lg);
  text-transform: none;
}

/* Layouts */

.default-layout {
  --default-layout-width: 1244px;

  min-height: 100vh;

  /* fallback for old browsers */
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--color-surface);

  /* Making margin for mobile devices */
  width: min(var(--default-layout-width), 100% - calc(var(--space-6) * 2));
  margin-inline: auto;
}

@media screen and (max-width: 360px) {
  .books-footer {
    flex-direction: column;
  }

  .books-footer__button {
    align-self: flex-end;
  }
}
