:root {
  /* Colors */
  --color-primary: rgb(241 89 36 / 100%);
  --color-on-primary: rgb(255 255 255);
  --color-surface: rgb(255 255 255 / 100%);
  --color-surface-overlay: rgba(0 0 0 / 5%);
  --color-on-surface: rgb(0 0 0 / 100%);
  --color-on-surface-dim: rgb(0 0 0 / 50%);
  --color-border: rgb(0 0 0 / 15%);

  /* Typography */
  --font-family-primary: "Inter", sans-serif;
  --font-size-md: 20px;
  --font-size-sm: 18px;
  --font-size-xs: 16px;
  --line-height-lg: 24px;
  --line-height-xl: 32px;
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;

  /* Spacing  */
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 20px;
  --space-6: 24px;
  --space-7: 28px;
  --space-8: 32px;
  --space-9: 36px;
  --space-10: 40px;
  --space-11: 44px;
  --space-12: 48px;

  /* Others */
  --border-radius-md: 24px;
  --border-radius-sm: 16px;
  --border-radius-xxs: 4px;
}
