.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 100px;
}

.auth__card {
  display: flex;
  gap: var(--space-3);
  padding: var(--space-6);
  width: 350px;
}

.auth__content:last-child {
  padding: 0;
}
